<div class="card">
    <img src="{{ p.mainPicture }}" class="img-fluid" alt="Product image">
    <div class="card-body">
        <h4 class="card-tittle">{{ p.name }}
            ({{ p.price | amount }})</h4>
        <span class="badge badge-info">{{ p.subCategory.name }}</span>
        <p class="card-text">{{ p.shortDescription }}</p>
        <a href="{{ path('product_show',
            {
                'slug':p.slug,
                'category_slug': p.subCategory.category.slug,
                'subcategory_slug': p.subCategory.slug
            }) }}" class="btn btn-primary btn-sm">Details</a>
        <a href="{{ path('cart_add',{'id':p.id}) }}" class="btn btn-success btn-sm">Add</a>
    </div>
</div>