{% extends "base.html.twig" %}
{% block title %}
    Sub Category: {{ category.name }}
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
        <li class="breadcrumb-item active">{{ category.name }}</li>
    </ol>
    <h1>
        Category: {{ category.name }}
    </h1>


    {% for sc in subCategoryRepository.findBy({category: category}) %}
        <div class="col-4">
            <p>{{ sc.name }}</p>
        </div>
    {% endfor %}



{% endblock %}
