{% extends "base.html.twig" %}
{% block title %}
    Product: {{ product.name }}
{% endblock %}
{% block body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>

        <li class="breadcrumb-item"><a href="{{ path('product_category',
                {'slug':product.subCategory.category.slug}) }}">
                {{ product.subCategory.category.name }}</a></li>

        <li class="breadcrumb-item"><a href="{{ path('product_subcategory',
                {'slug':product.subCategory.slug,
            'category_slug':product.subCategory.category.slug
            }) }}">{{ product.subCategory.name }}</a></li>

        <li class="breadcrumb-item active">{{ product.name }}</li>
    </ol>
<h1>{{ product.name }}({{ product.price | amount}})</h1>
    <div class="row">
        <div class="col-4">
            <img class="img-fluid" src="{{ product.mainPicture }}" alt="Picture of product {{ product.name }}">
        </div>
        <div class="col">
            <span class="badge badge-primary">
                {{ product.subCategory.name }}
            </span>
            <p>
                {{ product.shortDescription }}
            </p>
            <a href="{{ path('cart_add',{'id':product.id}) }}" class="btn btn-success btn-lg">
                <i class="fas fa-shopping-cart"></i>
                Add to Cart
            </a>
        </div>
    </div>
{% endblock %}
