{% extends "base.html.twig" %}
{% block title %}
    Home
{% endblock %}

{% block body %}
    <h1>Our heading products</h1>
    <div class="row">
        {% for p in products %}
            <div class="col">
                <div class="card">
                    <img src="{{ p.mainPicture }}" class="img-fluid" alt="Product image">
                    <div class="card-body">
                        <h4 class="card-tittle">{{ p.name }}
                        ({{ p.price/100 }}&euro;)</h4>
                        <span class="badge badge-info">{{ p.category.name }}</span>
                        <p class="card-text">{{ p.shortDescription }}</p>
                        <a href="{{ path('product_show',{'category_slug':p.category.slug,'slug':p.slug}) }}" class="btn btn-primary btn-sm">Details</a>
                        <a href="#" class="btn btn-success btn-sm">Add</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr>
    <h2>Fast delivery, Premium Products</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum et expedita iure numquam? Amet, esse.</p>
    <div class="row">
        {% include"shared/_ensurence.html.twig"  with{
            'color':'primary',
            'icon':'fas fa-truck',
            'text' :'Fast delivery'
        }
        %}
        {% include"shared/_ensurence.html.twig"  with{
            'color':'success',
            'icon':'fas fa-check',
            'text' :'Verified products'
        }
        %}
        {% include"shared/_ensurence.html.twig"  with{
            'color':'warning',
            'icon':'fas fa-lock',
            'text' :'Secure payement'
        }
        %}
    </div>
    <hr>

{% endblock %}

